.form-box {
  //display: block;
  background: #b0d9ff;
  background: linear-gradient(to top, #80CDFF, #D5FFFF);
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 40px;
  max-width: none;
  @media (max-width: $desctop) {
    padding: 55px 0 40px;
  }
  @media (max-width: $planshet) {
    min-height: 250px;
    margin-top: 0;
    padding: 20px;
  }
}

.form-box__top {
  background: $blue2;
  width: 100%;
  height: 40px;
}

.form-box__form {
  height: 495px;
  display: flex;
  align-content: stretch;
  //padding: 20px 0;
  margin: auto;
  //max-width: 1000px;
  background: $lite-blue2;
  background: linear-gradient(to top, #0080FF, #00BBFF);
  box-shadow: 0px 5px 20px rgba(57, 120, 255, 0.51);

  @include bradius(15px);
  @media (max-width: $desctop) {
    height: 452px;
  }
  @media (max-width: $planshet) {
    //padding: 20px;
    height: auto;
  }
}

.nurse-box {
  position: relative;
  width: 453px;
  height: 100%;
  //border: 1px solid black;
  @media (max-width: $desctop) {
    width: 390px;
  }
  @media (max-width: $planshet) {
    display: none;
  }

  img {
    position: absolute;
    width: 433px;
    bottom: 0;
    left: 20px;
    @media (max-width: $desctop) {
      left: 10px;
      width: 377px;
    }
    @media (max-width: $planshet) {
      width: 200px;
    }
  }
}

.field-box {
  //width: 630px;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  padding: 20px;
}

.form-box__submit {
  font-family: "FiraSans", sans-serif;
  background: $green;
  //border-bottom: 3px solid $dark-green2;
  padding: 15px 40px;
  display: block;
  margin: 40px auto 0;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgb(30, 66, 132);
  transition: all 0.5s cubic-bezier(0.25, .46, .45, .94);
  @include bradius(50px);
  //font-weight: bold;
  font-size: 18px;
  @media (max-width: $planshet) {
  }
}

.form-box__submit:hover {
  background: $green2;
}

.form-box__input {
  font-size: 15px;
  border-radius: 25px;
  display: block;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.5s cubic-bezier(0.25, .46, .45, .94);
  //height: 30px;
  @media (max-width: $planshet) {
  }
}

.form-box__input:hover {
  background: #dff0ff;
}

.form-box__input:focus {
  background: #b4daff;
}

.form-box__input {
  //border-top: 3px solid #ccc;
}

/**
* FORMS TEXT (_forms.scss)
 */

.form-box__zagolovok {
  font-family: "FiraSans Bold", sans-serif;
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  color: $blue2;
  color: white;
  font-size: 50px;
  line-height: 1.4em;
  font-weight: 800;
  @media (max-width: $desctop) {
    font-size: 41px;
  }
  @media (max-width: $planshet) {
    line-height: 1em;
    font-size: 41px;
  }

}

.form-box__podzagolovok {
  display: block;
  text-align: center;
  width: 100%;
  //margin: 3px auto auto;
  color: $nice-blue2;
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
  @media (max-width: $desctop) {
    font-size: 16px;
  }
  @media (max-width: $planshet) {
    margin: 10px auto 25px;
  }
}

.form-box__input-name {
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 2px 0;
  width: 100%;
  margin: 25px auto 0;
  color: $blue2;
  color: white;
  @media (max-width: $desctop) {
    font-size: 18px;
  }
  @media (max-width: $planshet) {
    margin: 10px auto 0;
  }
}