.form-box {
  //display: block;
  background: #b0d9ff;
  background: linear-gradient(to top, $nice-blue, $nice-blue2);
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  max-width: none;
  @media (max-width: $planshet) {
    min-height: 250px;
    margin-top: 0;
    padding: 20px;
  }
}

.form-box__top {
  background: $blue2;
  width: 100%;
  height: 40px;
}

.form-box__zagolovok {
  font-family: "Open Sans Bold",sans-serif;
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
  color: $blue2;
  color: white;
  font-size: 40px;
  line-height: 1.4em;
  font-weight: 800;
  @media (max-width: $planshet) {
    line-height: 1em;
  }
}

.form-box__podzagolovok {
  display: block;
  text-align: center;
  width: 100%;
  //margin: 3px auto auto;
  color: $nice-blue2;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 400;
  @media (max-width: $planshet) {
    margin: 10px auto 25px;
  }
}

.form-box__form {
  display: block;
  padding: 20px 40px;
  margin: auto;
  max-width: 1000px;
  background: $lite-blue2;
  @include bradius(15px);
  @media (min-width: 1280px) {
    //max-width: 1000px;
  }
  @media (max-width: $planshet) {
    padding: 20px;
  }
}

.form-box__submit {
  font-family: "Open Sans Bold",sans-serif;
  background: $green2;
  border-bottom: 3px solid $dark-green2;
  padding: 15px 30px;
  display: block;
  margin: 30px auto 0;
  color: #fff;
  cursor: pointer;
  @include bradius(15px);
  font-weight: bold;
  font-size: 18px;
  @media (max-width: $planshet) {}
}

.form-box__submit:hover {
  background: $lite-green2;
}

.form-box__input {
  font-size: 15px;
  border-radius: 5px;
  display: block;
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  //height: 30px;
  @media (max-width: $planshet) {}
}

.form-box__input {
  //border-top: 3px solid #ccc;
}

.form-box__input-name {
  font-family: "Open Sans",sans-serif;
  display: block;
  padding: 2px 0;
  width: 100%;
  margin: 20px auto 0;
  color: $blue2;
  color: white;
  @media (max-width: $planshet) {
    margin: 10px auto 0;
  }
}