@include font-face("nautilys", "../fonts/nautiluspompilius");
@include font-face("Open Sans", "../fonts/OpenSans-Regular");
@include font-face("Open Sans Bold", "../fonts/OpenSans-Bold");

h1{
  font-size: 42px;
  font-family: "Open Sans Bold", sans-serif;
  color: #00bbff;
  margin-top: 1em;
  margin-bottom: 1em;
}

.content-box{
  background: #fff;
  margin: 40px auto;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 40px 40px;
  text-align: left;
  h1{
  }
  p,ul,a{
    margin-top: 1em;
  }
  a{
    display: block;
    color: #00bbff;
    text-decoration: underline;
  }
  h1{
    text-align: center;
    color: black;
    line-height: 1.3;
    @media screen and (max-width: $planshet){
      font-size: 38px;
    }
    @media screen and (max-width: $phone){
      font-size: 24px;
    }
  }
  @media screen and (max-width: $planshet){
    padding: 0 20px 20px;
  }
}